@tailwind base;
@tailwind components;
@tailwind utilities;

/* BackgroundAnimation.js style start */
.logo-pulse {
  animation: logoPulse 1.5s ease-in-out infinite;
}

@keyframes logoPulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}
/* BackgroundAnimation.js style end */

@keyframes spin {
  to { transform: rotate(360deg); }
}
